[submodule "gskcolombia"]
	path = gskcolombia
	url = git@git.vauxoo.com:vauxoo/gskcolombia.git
	branch = 17.0
[submodule "icm-boat"]
	path = icm-boat
	url = git@git.vauxoo.com:vauxoo-dev/17.0-report-format-vescaname.git
	branch = 17.0
[submodule "brand"]
	path = brand
	url = git@github.com:Vauxoo/gsk-brand.git
	branch = 17.0
[submodule "icm-agreement"]
	path = icm-agreement
	url = git@git.vauxoo.com:vauxoo/icm-agreement.git
	branch = 17.0
[submodule "base-formula"]
	path = base-formula
	url = git@git.vauxoo.com:vauxoo/base-formula.git
	branch = 17.0
[submodule "sftp-importer"]
	path = sftp-importer
	url = git@git.vauxoo.com:vauxoo/sftp-importer.git
	branch = 17.0
