[submodule "gskcolombia"]
	path = gskcolombia
	url = git@git.vauxoo.com:vauxoo/gskcolombia.git
	branch = 17.0
[submodule "icm-boat"]
	path = icm-boat
	url = git@git.vauxoo.com:vauxoo-dev/icm-boat.git
	branch = 17.0-fetch-data-emilioserna
[submodule "brand"]
	path = brand
	url = git@github.com:Vauxoo/gsk-brand.git
	branch = 17.0
